html, body {
    height: 100%;
}
@media (min-width: 780px) {
    #carousel-front {
        width: 780px;
        margin-left: auto;
        margin-right: auto;
    }
}
#id-input-send-email {
    min-width: 240px;
}
.count_num {
    color: red;
}
.right {
    float: right;
}
.left {
    float: left;
}
.no-padding {
    padding: 0;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -300px;
}
.page-wrap:after {
    content: "";
    display: block;
    height: 300px;
}
.div-margin-top-100 {
    margin-top: 170px;
}
.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    text-align: left;
    z-index: 1;
    position: relative;
}
.main {
    padding-top: 70px;
}
.footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}
.footer-links li {
    display: inline-block;
    margin-right: 20px;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
}

.quantity-form span {
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #cacbcb;
    margin: 0 -4px;
    width: 40px;
    display: inline-block;
    text-align: center;
}
.quantity-form a {
    border: 1px solid #cacbcb;
    width: 20px;
    display: inline-block;
    color: #666;
    text-align: center;
    text-decoration: none;
}
@media (max-width: 510px) {
    .quantity-form span {
        width: 20px;
    }
    .quantity-form a {
        width: 15px;
    }
}
.th-col-2 {
    width: 20%;
}
.th-col-4 {
    width: 40%;
}
.panel-div {
    margin: 12px;
}
.panel-h4 {
    margin: 2px 12px;
}
#check-order {
    border-radius: 0px;
}
.panel-heading-time {
    display: inline-block;
    color: #999;
    margin-right: 20px;
}
.product-pic-s {
    height: 50px;
    width: 50px;
}
.product-pic-m {
    height: 100px;
    width: 100px;
}
.product-pic-l {
    height: 200px;
    width: 200px;
}
.product-item {
    padding: 5px 0;
}
.block-center {
    text-align: center;
}
.list-item {
    padding-top: 15px;
    padding-bottom: 15px;
}
.list-item + .list-item {
    border-top: 1px solid #ddd;
}
.list-pic-fix {
    padding-left: 0;
}
.add-default {
    color: #ffcb23;
    text-decoration:none;
}
.add-default:hover {
    color: #ffcb23;
    text-decoration:none;
}
.address-edit-button {
    display: inline-block;
    margin-left: 20px;
}
#particles-js {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#id-div-login, #id-div-register, #id-div-forget-password {
    position:absolute;
    top:40%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 1;
}
#id-div-login input, #id-div-register input{
    background-color: #2a2730;
    color: white;
}
#id-div-login button,#id-div-register button  {
    border: 0;
    border-radius: 3px;
    line-height: 41px;
    padding-top: 0;
    padding-bottom: 0;
}
.sign-flow {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.group-inputs {
    padding: 1px 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}
.group-inputs input {
    padding: 1em .8em;
    line-height: 19px;
    width: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.group-inputs input:focus {
    outline: none;
}
.group-inputs input + input {
    border-top: 1px solid #d5d5d5;
}
label {
    width: 100%;
}
.empty-cart-title {
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}
.empty-cart {
    margin-left: 20px;
    color: #bbb;
}
#id-input-captcha,#id-input-mail-code {
    width: 186px;
}
#id-input-mail-code {
    border-top: 1px solid #ddd;
}
#id-button-mail-code {
    width: 112px;
    height: 49px;
    display: inline-block;
    border-radius: 0px;
    border-top: 1px solid #ddd;
    line-height: 35px;
}
.panel-profile {
    max-width: 400px;
}
.alert-container {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 2;
}

/*       -----------购物车局部css开始-----------     */
.stepflex {
    display: inline-block;
    display: block;
    border-top: 5px solid #ccc;
    text-align: center;
    margin: 30px 0 0;
    float: right;
}
.stepflex:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.stepflex dl.done {
    border-top-color: #caecb6;
}
.stepflex dl.doing {
    border-top-color: #7abd54;
}
.stepflex dl {
    float: left;
    position: relative;
    width: 160px;
    top: -5px;
    border-top: 5px solid #ccc;
}
.stepflex dl.done .s-num {
    background-position: -46px 0;
}
.stepflex dl.doing .s-num {
    background-position: -23px 0;
}
.stepflex .s-num {
    position: relative;
    margin: -15px auto 0;
    color: #fff;
    font-weight: 700;
    width: 23px;
    height: 23px;
    background-image: url(//misc.360buyimg.com/user/purchase/2.0.0/css/i/step2013.png);
    line-height: 23px;
}
.stepflex dl.done .s-text {
    color: #caecb6;
}
.stepflex dl.doing .s-text {
    color: #7abd54;
}
.stepflex .s-text {
    color: #ccc;
}
/*       -----------购物车局部css结束-----------     */
