{% extends 'base.html' %}

{% block title %}
    {{ d.title }}
{% endblock %}

{% block head_send_email %}
    <form class="navbar-form navbar-left" action="{{ url_for('document.send_mail', doc_url=d.doc_url) }}" method="post"
          onsubmit="return ajaxSendMail();">
        <div class="form-group">
            <input type="email" class="form-control" id="id-input-send-email" name="email"
                   placeholder="输入邮箱地址以获取副本" required>
            <input name="captcha" class="form-control" placeholder="验证码" autocomplete="off" required>
            <input name="token" value='{{ token }}' hidden>
            <img onclick="this.setAttribute('src','/img/captcha/s?nocache='+Math.random());"
                 src="/img/captcha/s" alt="Captcha" class="right"/>
        </div>
        <button type="submit" class="btn btn-default">发送简历到邮箱</button>
    </form>
{% endblock %}

{% block head_login %}
    <ul class="nav navbar-nav navbar-right">
        {% if u and u.uuid == d.user_uuid %}
            <li>
                <a class="block-center" href="{{ url_for('user.document') }}">
                    <span class="glyphicon glyphicon-pencil"></span> 返回编辑
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}

    <div hidden>
        <textarea id="text-input">{{ d.detail }}</textarea>
    </div>

    <div id="preview"></div>

    <style>{{ d.css }}</style>

    <script src="https://cdn.bootcss.com/markdown.js/0.5.0/markdown.min.js"></script>
    <script>
        function Editor(input, preview) {
            this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }
        const log = function log() {
            console.log.apply(console, arguments);
        }

        new Editor(document.getElementById("text-input"), document.getElementById("preview"));

        let template = function (r) {
            let div = `
<div class="alert alert-${r.status} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    ${r.msg}
</div>`
            return div
        }

        function ajaxSendMail() {
            let ajaxForm = $(event.target)
            let img = ajaxForm.find('img')
            img.click()
            ajaxForm.ajaxSubmit({
                success: function (message) {
                    r = JSON.parse(message)

                    $('.alert-container').append(template(r))
                    $('.alert').delay(2000).fadeOut(600)
                },

                clearForm: true,
            });
            return false;
        }
    </script>
{% endblock %}
