{% extends 'base.html' %} {% block body %}
<script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>

<div id="id-div-login" class="div-form sign-flow">
    <form method="post" action="{{ url_for('user.forget_password') }}">
        <div class="group-inputs">
            <input name="username" id="id-input-username" placeholder="用户名" required>
            <input name="email" id="id-input-email" placeholder="邮箱" required>
            <input name="captcha" id="id-input-captcha" placeholder="验证码（不区分大小写）" autocomplete="off" required>
            <img onclick="this.setAttribute('src','/img/captcha?nocache='+Math.random());" src="/img/captcha" alt="Captcha" class="right" />
        </div>
        <br>
        <button class="btn btn-danger btn-block">找回密码</button>
        <a class="right text-muted" href="{{ url_for('user.login') }}">我又想起来了</a>
    </form>
</div>

<div id="particles-js"></div>
<script type="text/javascript">
    particlesJS.load('particles-js', '/static/js/particles.json');
</script>

{% endblock %}
