{% extends 'base.html' %} {% block body %}
<script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>

<div id="id-div-login" class="div-form sign-flow">
    <form method="post" action="{{ url_for('user.reset_password', tb64=tb64) }}">
        <div class="group-inputs">
            <input name="password" id="id-input-password"  placeholder="新密码" required>
        </div>
        <br>
        <button class="btn btn-default btn-block">设置新密码</button>
    </form>
</div>

<div id="particles-js"></div>
<script type="text/javascript">
    particlesJS.load('particles-js', '/static/js/particles.json');
</script>

{% endblock %}
